/*RESET*/
*{
     margin: 0;
     padding: 0;}
body{
    width: 900px;
    margin: 0 auto;
}
#box{
    width: 900px;
    margin: 0 auto;
}
/*Topo*/
#header{
    border-bottom:8px solid #1b152b;
    height:322px;
}
#header_topo{
    height: 60px;
    border-bottom: 8px solid #1b152b;
}
#header_topo img{
    float: left;
    margin: 20px;
}
#header_topo ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
#header_topo ul li{/*Menus*/
    font: 26px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    float: left;
}
#header_topo ul li a{ /*Menus*/
    padding: 10px 10px;
    float: left;
    text-decoration: none;
    margin: 10px 17px;
    color: #1b152b;
}
#header_topo ul li a:hover{
    background: #ffe900;
    color: #1b152b;
}
#header_navegar{
    width: 900px;
    height: 255px;
}
#header_navegar_central{
    width: 232px;
    float: left;
}
#header_navegar_central_anunciante{
    width: 250px;
    height: 127px;
    background:url(../imagens/central_bg.jpg) no-repeat;
}
/*CENTRAL ANUNCIANTE*/
#header_navegar_central_anunciante label{
    display: block;
    margin: 0 0 4px 0;
}
#header_navegar_central_anunciante  p{
     font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #1b152b;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right:4px;
    margin-top:5px;
}
#header_navegar_central_anunciante span{
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #1b152b;
    font-weight: bold;
    width: 55px;
    float: left;
    text-align: right;
    margin-right:2px;
}
#header_navegar_central_anunciante input{
    width: 146px;
    height: 20px;
    border: 1px solid #1b152b;
    background: #fff;
    padding: 2px;
    border:none;
}
#header_navegar_central_anunciante .senha{
    width: 146px;
}
#header_navegar_central_anunciante .btn{
    width:60px;
    height:25px;
    float: right;
    border:none;
    cursor:pointer;
}
#header_navegar_central_anunciante .btn:hover{
    background: #ffe900;
}
#header_navegar_central_anunciante form{
    margin: 45px 0 0 12px;
    float: left;
}
/*CENTRAL ANUNCIE*/
#header_navegar_central_anuncie{
    width: 250px;
    height: 225px;
    background:url(../imagens/anuncie_bg.jpg) no-repeat;
}
.header_navegar_central_anuncie{
    margin:25px 2px 0px 37px;
    float:left;
    display:block;
}
.header_navegar_central_anuncie a{
    background:url(../imagens/anuncie_btn.png) no-repeat;
    width:147px;
    float:left;
    padding:20px 5px 15px 15px;
}
.header_navegar_central_anuncie p{
    width:147px;
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #1b152b;
    font-weight: bold;
    text-align: center;
    margin-right:60px;
    margin-top:2px;
}
/*CENTRAL FILTRO*/
#header_navegar_filtro{
    width: 414px;
    height: 248px;
    background:url(../imagens/busca_avancada_bg.jpg) no-repeat; float: left;
}
#header_navegar_filtro h1{
    font: Georgia, "Times New Roman";
    margin:5px 0 0 103px;
}
#header_navegar_filtro h2{
    font:16px "Trebuchet MS", Arial, Helvetical, sans-serif;
    text-align:right;
    margin-right:40px;
}
#header_navegar_filtro form{
    float:left;
    margin:20px 0 0 13px;
}
#header_navegar_filtro select{
    border:1px solid #069;
    background:#FFF;
    width:190px;
    height:30px;
    margin:3px 0;
}
#header_navegar_filtro .btn{
    padding:8px 15px;
    cursor:pointer;
    font: 15px Georgia;
    float:right;
    margin:4px 18px 0 0;
    border:none;
}
#header_navegar_filtro .btn:hover{
     background: #ffe900;
}
#header_navegar_filtro span{
    font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:bold;
    float:left;
    margin: 10px 0;
}
#header_navegar_publicidade{
    width: 247px;
    height: 252px;
    padding: 2px;
    float: right;
}
#header_navegar_publicidade h1{
    font:29px Georgia, "Times New Roman", Times, serif;
    color: #ffe900;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid #1b152b;
}
#header_navegar_publicidade h1:hover{
    background: #1b152b;
    color:#ffe900;
}
/*Imoveis Home*/
#imoveis_home{
    width:900px;
    height: 250px;
    background:url(../imagens/lista_home_bg.jpg) no-repeat;


}
#imoveis_home h1{
    float:left;
    margin:5px 5px;
    font:32px Arial, Helvetical, sans-serif;
    font-weight:bold;
    color:#1b152b;
}
#imoveis_home form{
    float:right;
    margin-right:30px;
}
#imoveis_home  label{
    display:block;
}
#imoveis_home span{

}
/*Imoveis Home Lista*/
#imoveis_home_lista{

}
/*FOOTER*/
#footer{

}
/**/